<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tampilan data</title>
</head>
<body>
    <p>data yang umurnya kurang dari 30 dan faforit buah nya banana</p>
    <% datas1.forEach((data)=>{ %>
        <%= data.name %> 
        <% }) %>  
</body>
</html>